@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background:  linear-gradient(20deg,#0F172A 60%, #09323e 100%);
}

body {
  font-family: "Work Sans", sans-serif;
}

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[100vh];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug text-cyan-500;
  }

  .subhead-text {
    @apply font-semibold text-2xl relative text-white;
  }

  .input {
    @apply bg-transparent border border-gray-200 text-slate-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-slate-400 bg-transparent rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] hover:from-[#06b6d4] to-[#155E75] hover:to-[#45cff6] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .info-box {
    @apply mx-5 relative rounded-lg flex text-white flex-col gap-3 max-w-2xl text-[0.9rem] bg-cyan-600 hover:bg-cyan-800 hover:scale-105 pt-4 pb-4 px-8 cursor-pointer;
  }

  .modal{
    text-shadow: 2px 3px #0891b2;
}
}